<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages clientIDMode="Static" enableSessionState="false"></pages>
    <httpRuntime requestValidationMode="2.0"/>
    <customErrors mode="Off" />
  </system.web>
  <appSettings>
    <add key="cookie_domain" value=".flakelife.com" />
    <add key="site_name" value="火花&amp;生命"/>
    <add key="avatar_max_size" value="1024"/>
    <add key="default_icon" value="default.png"/>
    <add key="MongoDB_CS" value="mongodb://localhost"/>
    <add key="MongoDB_DB" value="flakelife"/>
    <add key="invite_code" value="2011hust-2011whu"/>
    <add key="vote_up_get" value="1"/>
    <add key="vote_up_need" value="2"/>
    <add key="vote_down_need" value="10"/>
    <add key="set_best_get" value="5"/>
    <add key="admin" value="xugaofan@gmail.com"/>
  </appSettings>
</configuration>
